<!DOCTYPE html>
<html>
    <head>
        <title>MakersBnB</title>
    </head>
    <body>
       <h1><p>Makers BnB</h1></p>
       <h2> Welcome back <%= @host.name %>! </h2>
       <h3><p><button onclick="location.href='/space/<%= @host.id%>'"> create a new space </button></p></h3>
       <h3> View all bookings... </h3>    
       <FONT COLOR="RED">
       <h3> Unconfirmed bookings: </h3>
       <FONT COLOR="Black">
    <div>
       <% @unconfirmed_bookings.each do |booking| %>
         <p>
           <strong>property: <%= booking.space_id %></strong></br>
           user: <%= booking.user_id %></br>
           <%= booking.start_date %> - <%= booking.end_date %> </br>
           <p><button onclick="location.href='/approve/<%=booking.id%>'"> Confirm Booking </button></p>
       <% end %>
    </div> 
       <FONT COLOR="RED">
       <h3> Confirmed bookings: </h3>
       <FONT COLOR="Black">
       <div>
       <% @confirmed_bookings.each do |booking| %>
         <p>
           <strong>property: <%= booking.space_id %></strong></br>
           user: <%= booking.user_id %></br>
           <%= booking.start_date %> - <%= booking.end_date %> </br>
       <% end %>
    </div>
  </body>
</html>