<!DOCTYPE html>
<html>
    <style>
       body {
        background-color: lightblue;
                }
    </style>
    <head>
        <title>MakersBnB</title>
    </head>
    <body>
       <h1><p>Makers BnB</h1></p>
       <h2> Welcome back <%= @host.name %>! </h2>
       <h3><p><button onclick="location.href='/space/<%= @host.id%>'"> create a new space </button></p></h3>
       <h3> View all bookings... </h3>    

    <div>
       <% @hosts_bookings.each do |booking| %>
         <p>
           <strong>property: <%= booking.space_id %></strong></br>
           user: <%= booking.user_id %></br>
           <%= booking.start_date %> - <%= booking.end_date %> </br>
           <p><button onclick="location.href='/approve/<%=booking.id%>'"> Confirm Booking </button></p>
       <% end %>
    </div> 
  </body>
</html>